@page "/"

<PageTitle>>Products | Enable automatic updates in a web application using Azure Functions and WebPubSub</PageTitle>

<h1>Azure Web PubSub Demo</h1>

Products | Enable automatic updates in a web application using Azure Functions and Web PubSub.
